{{>head}}

<body>
    <div class="wrapper d-flex flex-column justify-center align-center">

        <h1 class="mb-2 bolder text-primary font-5xl">404</h1>
        <p class="text-white mb-2">Page not found!</p>
        <a href="/">Back Home!</a>

    </div>

    {{>footer}}

</body>

</html>