{{>head}}

<body>

    <div class="wrapper d-flex flex-column justify-center align-center">

        <h1>home</h1>

        <input type="search" id="city" class="form-control" placeholder="In which city do you live?" />

        <div class="notice p-1 mt-2 round text-center" id="notice" style="display: none;"></div>

        <div class="weather p-2 mt-2 round">
            kaljdflkajdslfkj
        </div>

    </div>


    {{>footer}}
</body>


</html>